src/main/resources/NormalXml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="AAS_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RESPONSE_TIME"/>
        <xs:element ref="RESPONSE_CD"/>
        <xs:element ref="AAUID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESPONSE_TIME" type="xs:string"/>
  <xs:element name="RESPONSE_CD" type="xs:integer"/>
  <xs:element name="AAUID" type="xs:string"/>
</xs:schema>
